<section class="bg-black text-white sectionSize my-20 py-10">
    <div class="flex items-center justify-center">
        <h2 class="text-3xl font-bold dark:text-white">How it works</h2>
    </div>

    <div class="flex flex-col md:flex-row">
        <div class="flex-1 mx-8 flex flex-col items-center my-4">
            <div class="border-2 rounded-full bg-white text-black h-12 w-12 flex justify-center items-center mb-3">
                1
            </div>
            <h3 class="font-montserrat font-medium text-xl mb-2">Data Preprocessing</h3>
            <p class="text-center font-montserrat">
                Raw image data is preprocessed to enhance features.
            </p>
        </div>
        <div class="flex-1 mx-8 flex flex-col items-center my-4">
            <div class="border-2 rounded-full bg-white text-black h-12 w-12 flex justify-center items-center mb-3">
                2
            </div>
            <h3 class="font-montserrat font-medium text-xl mb-2">Feature Extraction</h3>
            <p class="text-center font-montserrat">
                Key features are extracted using EfficientNet.
            </p>
        </div>
        <div class="flex-1 mx-8 flex flex-col items-center my-4">
            <div class="border-2 rounded-full bg-white text-black h-12 w-12 flex justify-center items-center mb-3">
                3
            </div>
            <h3 class="font-montserrat font-medium text-xl mb-2">Classification</h3>
            <p class="text-center font-montserrat">
                The model classifies images based on learned patterns and features.
            </p>
        </div>
    </div>
</section>



